<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img scr="https://newrelic.com/themes/custom/erno/assets/mediakit/new_relic_logo_horizontal.png">
  </body>
</html>
